<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
        <!-- LINKED LIST GROUP-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">configuraciones</h3>
            </div>
            <div class="panel-body">
                <div class="list-group border-bottom">
                    <a href="/products" class="list-group-item">Productos</a>
                    <a href="/positions" class="list-group-item active">Cargos</a>
                    <a href="/cities" class="list-group-item">ciudades</a>
                    <a href="/accounts" class="list-group-item active">Cuentas</a>
                </div>
            </div>
        </div>
        <!-- END LINKED LIST GROUP-->

    </div>
  </div>
</div>
