<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Ciudades</strong>
                </h3>
                <ul class="panel-controls-btn">
                    <li><%= link_to 'Nuevo', new_city_path, class:"btn btn-default" %></li>
                </ul>
            </div>
            <!-- error message -->
            <% if notice != nil %>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <%= notice %>
            </div>
            <% end %>
            <!-- end error message -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                              <th>id</th>
                              <th>Nombre</th>
                            </tr>
                        </thead>

                        <tbody>
                          <% @cities.each do |city| %>
                            <tr>
                                <td><%= link_to city.id, city %></td>
                                <td><%= city.nombre %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
