<h3>Editar Embarcacion</h3>

<%= render 'form' %>

<%= link_to 'Ver', @boat, class: "mdl-button mdl-js-button mdl-button--raised"%> 
<%= link_to 'Volver', boats_path, class: "mdl-button mdl-js-button mdl-button--raised"%>
